/* 1 - animation */
#logo{
    width: 475px;
    animation: logo_move 5s;
}
@keyframes logo_move {
    0% {width: 25px; opacity: 0;}
    100% {width: 475px; opacity: 1;}
}

/* 2 - font, bg */
body {
    font-family: 'Poppins', 'serif';
    background-image: url('../images/concrete_seamless.png');
    background-color: #f1f1f1;
}

/* 3 - header */
header{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
 /* 5 - visited links */
.nav_item a:visited{
    color: blue;
    text-decoration: underline;
}

/* 6 - card styling*/
.card > header {
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
}

/* 7 - card sizing/position using flex*/
.card{
    border-radius: 50px;
    flex-basis: 450px;
}

/* 8 - pricing cards positioning using flex*/
.pricing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

/* 9 - gallery styling*/
.gallery img{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px
}

/* 10 - gallery positioning using flex*/
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 900px) {
    /* 11 - header positioning using flex*/
    header{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .nav_links{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    /* 12*/
    .pricing{
        flex-basis: 275px;
    }
    .card{
        flex-basis: 275px;
    }
    /* 13 - sticky header */
    body > header{
        position: sticky;
        top: 0;
    }
}

/* 14 - reduced animation*/
@media (prefers-reduced-motion) {
    #logo {
        animation: none;
    }
}

@media print{
    /* 15 and 16 - changing font and bg for print*/
    body {
        font-family: 'Arial', 'Helvetica';
        background-image: none;
    }

    /* 17*/
    nav{
        width: 100%;
    }

    .nav_links{
        display: flex;
        justify-content: space-around;
    }

    /* 18 - positioning for print using flex*/
    .pricing{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    /* 19 - card styling for print*/
    .card{
        border: 2px solid #45ADDD;
        flex-basis: 325px;
    }

    /* 20 - hiding gallery for print*/
    .gallery{
        display: none;
    }
    
    /* 21 - thumbs up*/
    .card li:nth-child(2)::after{
        content: '\1F44D';
        
    }
}
